.header {
  height: 44px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  ul {
    display: flex;
    li {
      a {
        color: var(--color);
      }
    }
  }
}
.aa {
  color: #ccc;
}
