.konw {
  height: 100%;
  width: 100%;
  position: relative;
  .left {
    width: calc(100% - 300px);
  }
  .right {
    position: fixed;
    right: 0;
    top: 100px;
    width: 300px;
  }
  .active {
    color: red;
  }
  .comment {
    height: 1000px;
    width: 100%;
  }
  .show {
    display: none;
  }
  .dialog {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    background: #ebe1e1;
  }
}
