.comment {
  .header {
    height: 44px;
    display: flex;
    > span {
      height: 36px;
      width: 36px;
      display: inline-block;
      background: red;
      border-radius: 100%;
      line-height: 36px;
      text-align: center;
      color: #fff;
    }
    > div {
      display: inline-block;
      display: flex;
    }
  }
  .content {
    line-height: 24px;
    padding-left: 20px;
  }
  .footer {
    height: 44px;
    display: flex;
    padding-left: 20px;
    > span {
      margin: 0 3px;
    }
  }
  .nestcomment {
    margin-left: 40px;
  }
}
